body{
font-family:Arial;
margin:0;
background:#111;
color:white;
overflow:hidden;
}

.login-box{
text-align:center;
margin-top:200px;
}

button{
padding:10px;
cursor:pointer;
border:none;
}

.container{
display:flex;
height:100vh;
}

.users{
width:30%;
background:#1b1b1b;
padding:20px;
overflow:auto;
}

.chat{
width:70%;
display:flex;
flex-direction:column;
}

.chat-header{
display:flex;
justify-content:space-between;
background:#222;
padding:15px;
}

.messages{
flex:1;
overflow:auto;
padding:20px;
display:flex;
flex-direction:column;
}

.send-box{
display:flex;
padding:10px;
background:#222;
}

.send-box input{
flex:1;
padding:10px;
border:none;
outline:none;
}

.message{
max-width:60%;
padding:10px 14px;
margin:8px 0;
border-radius:20px;
font-size:14px;
word-wrap:break-word;
}

.sent{
background:white;
color:black;
margin-left:auto;
border-bottom-right-radius:5px;
}

.received{
background:#ff4d6d;
color:white;
margin-right:auto;
border-bottom-left-radius:5px;
}

.hearts{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
pointer-events:none;
z-index:-1;
}

.heart{
position:absolute;
color:#ff4d6d;
animation:floatUp 6s linear infinite;
}

@keyframes floatUp{
0%{
transform:translateY(100vh) scale(0.5);
opacity:1;
}
100%{
transform:translateY(-10vh) scale(1.5);
opacity:0;
}
}
